
.hover-scale {
    transition: transform 0.6s ease;
}

.hover-scale:hover {
    transform: scale(1.03);
}

.main-btn:hover {
    background: none !important;
}

.container-fluid {
    max-width: 1400px;
}

.main-page {
    background-image: url('../images/ellipse.png'), url('../images/glass.png');
    background-position: center, left;

    background-repeat: no-repeat;

    /* background-size: cover, cover; */
    background-size: 50% 100%, 50% 100%;
}

@media (max-width: 768px) {
    .main-page {
        background-image: url('../images/glass.png');
        background-size: 100% 100%;
    }
  }


.logo {
    width: 80px;
    height: 50px;
    /* transition: transform 0.3s ease; */
}

/* .logo:hover {
    transform: scale(1.03);
} */

header .nav-link,
footer .nav-link {
    transition: color 0.3s ease, transform 0.3s ease;
}

header .nav-link:hover,
footer .nav-link:hover {
    color: var(--custom-primary-color);
    transform: scale(1.03);
}

.btn-primary,
.btn-secondary {
    display: flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    transition: transform 0.6s ease;
}

header .btn-primary:hover {
    transform: scale(1.06);
}

.bg-body-gray {
    background: #F8F8F8;
}


.services-box {
    background: #F9FAFB;
}

.box-1 .card {
    background: #D1E6E1;
}

.box-2 .card {
    background: #C5E4F6;
}

.box-3 .card {
    background: #C7D9A7;
}

.logo,
.box-1,
.box-2,
.box-3,
.text-box {
    transition: transform 0.6s ease;
}

.logo:hover,
.box-1:hover,
.box-2:hover,
.box-3:hover,
.text-box:hover {
    transform: scale(1.01);
}

.box-3 .card-body {
    background-image: url('../images/background-logo.png');
    background-position: bottom right;
    background-size: 60%;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--gray-700, #374151) !important;
    font-family: Roboto;
    font-style: normal;
}

.btn-white {
    display: flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: #FFF;
}

.border-gray {
    border-radius: 60px;
    border: 1px solid #4B5563 !important;
    color: var(--gray-800, #1F2A37);
}

.service-text {
    width: 70%;
}

.background-footer {
    background-image: url('../images/background-logo-footer.png');
    background-position: bottom right;
    background-size: 15%;
    background-repeat: no-repeat;
}

.easter-egg-badge {
    display: inline-block;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.easter-egg-badge:active {
    transform: rotate(3600deg);
}

.rotating-hourglass {
    display: inline-block;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.who-am-i {
    transition: transform 0.6s ease;
}

.who-am-i:hover,
.who-am-i.active {
    transform: scale(1.06);
}

.who-am-i-title {
    color: #374151;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.who-am-i .caption {
    color: #374151;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.who-am-i .text {
    color: var(--gray-500, #6B7280);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.who-am-i .number {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}


.who-am-i-caption {
    font-size: 20px;
}

swiper-slide .card-title {
    font-size: 30px;
}


swiper-slide .card-text {
    font-size: 16px;
}

.doubts .card-title {
    color: #374151;

    font-size: 18px;
}


.accordion {
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-active-color: #fff;

    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(160, 170, 114, 1);
    --bs-accordion-active-bg: var(--custom-primary-color);
}

.main-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.main-text {
    font-size: 20px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 120%;
}

/* #C7D9A7 */

/* .bg-primary {
    background-color: #C7D9A7 !important;
} */