.container-fluid {
    max-width: 1400px;
}

.main-page {
    background-image: url('../images/ellipse.png'), url('../images/glass.png');
    background-position: center, left;

    background-repeat: no-repeat;
}

.logo {
    width: 80px;
    height: 50px;
}

.logo:hover {
    transition: transform 0.3s ease;
    transform: scale(1.03);
}

header .nav-link:hover,
footer .nav-link:hover {
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--custom-primary-color);
    transform: scale(1.03);
}

header .btn-primary:hover {
    transition: transform 0.6s ease;
    transform: scale(1.06);
}

.btn-primary,
.btn-secondary {
    display: flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
}

.bg-body-gray {
    background: #F8F8F8;
}


.services-box {
    background: #F9FAFB;
}

.box-1 .card {
    background: #D1E6E1;
}

.box-2 .card {
    background: #C5E4F6;
}

.box-3 .card {
    background: #C7D9A7;
}

.logo:hover,
.box-1:hover,
.box-2:hover,
.box-3:hover,
.text-box:hover {
    transition: transform 0.6s ease;
    transform: scale(1.01);
}

.box-3 .card-body {
    background-image: url('../images/background-logo.png');
    background-position: bottom right;
    background-size: 60%;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--gray-700, #374151) !important;
    font-family: Roboto;
    font-style: normal;
}

.btn-white {
    display: flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: #FFF;
}

.border-gray {
    border-radius: 60px;
    border: 1px solid #4B5563 !important;
    color: var(--gray-800, #1F2A37);
}

.service-text {
    width: 70%;
}

.background-footer {
    background-image: url('../images/background-logo-footer.png');
    background-position: bottom right;
    background-size: 15%;
    background-repeat: no-repeat;
}

.easter-egg-badge {
    display: inline-block;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.easter-egg-badge:active {
    transform: rotate(3600deg);
}

.rotating-hourglass {
    display: inline-block;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}